body {
    background-color: rgba(0, 44, 255, 0.13);
}

.header {
    text-align: center
}

.center {
    text-align: center
}

.breadcrumb {
    background-color: initial
}

.container {
    background-color: white;
    box-shadow: 0 0 200px 130px rgb(255, 255, 255)
}

.jumbotron {
    background-color: initial
}

.img-responsive {
    display: block;
    margin: auto
}